*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility */

.main_container{
    width: 461px;
    margin: auto;

}

header{
    position: relative;
}

img{
    background-size: contain;
}

ul{
    list-style-type: none;
}

.sottolineato{
    text-decoration: line-through;
}

.header_txt{
    position: absolute;
    color: white;
    font-size: 25px;
    top: 250px;
    left: 30px;
}

.todo_display{
    display: none;
}

.add_txt{
    display: inline-block;
}

.todo_not{
    font-size: 20px;
    line-height: 100px;
    padding-bottom: 20px;
}

.to_do_txt{
    display: inline-block;
    height: 100px;
    color: rgb(87, 100, 112);
    padding-left: 10px;
}
